body, button, input, select, textarea {
    font-family: Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;
}
h1, h2, h3, h4{
    font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
body, html{
  height: 100%;
}
body{
  position: relative;
}
#container{
  display: none;
  padding: 0 0 70px;
}

.CodeMirror{
  height: 100%;
}

.header{
  overflow:hidden;
}

.header h1, .header h2, .header .pager{
  float: left;
  margin-left: 0.8em;
}

.panel .pager{
  margin: 0;
  float: left;
}

.panel-heading{
  overflow: hidden;
  padding: 5px 15px;
}

#reset, .btn.exe{
  float: right;
}

.codes .panel{
  padding-left: 0;
  padding-bottom: 0;
}
.codes .panel-heading{
  margin-left: 0;
  margin-bottom: 0;
}

.html  .code, .javascript .code{
  height: 268px;
}
.console .code{
  height: 100px;
}

.board{
  overflow: auto;
}
#notes{
  height: 320px;
  overflow: auto;
}
.output{
  height: 240px;
  overflow: auto;
}

.write-mode-box{
  float: right;
  margin-top: 1em;
}

.write-mode #output{
  white-space: pre-wrap;
}

.isfixed{
  float: right;
}

.notsupport{
  display:none;
}

.write-pad textarea{
  min-height: 250px;
}
.markdowneditor{
  color: #E0E0E0;
  background-color: #151515;
}

.introjs-helperNumberLayer{
  line-height: 10px;
}

.write-mode [contenteditable]{
  min-width: 100px;
  border: 1px solid #ddd;
  height: 1.2em;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: right;
}

.footer .text-muted{
  margin: 20px 0;
}
